#hover-container {
  background-color: white;
  position: fixed;
  right: 0; 
  top: 0;
  z-index: 9999;
}

#selected-text-save-box {
  box-sizing: border-box;
  width: 320px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(58, 69, 82, 0.2);
  border-radius: 10px;
  padding: 16px;
}

#title {
  width: 288px;
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #3A4552;
  margin-bottom: 16px;
}

#folders {
  padding: 13px;
  width: 288px;
  height: 52px;
  border: 1px solid #E9EBEE;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#folders:hover {
  cursor: pointer;
}

.placeholder {
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #C5C8CD;
}

#memo-container {
  position: relative;
  width: 288px;
  height: 80px;
  margin-top: 16px;
}

#memo {
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  width: 288px;
  height: 80px;
  border: 1px solid #E9EBEE;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 16px 16px 32px;
  overflow: hidden;
  resize: none;
  color: #3A4552;
  background-color: white;
}

#memo::placeholder {
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #C5C8CD;
}

#memo-length {
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #666F7B;
  position: absolute;
  right: 10px;
  bottom: 15px;
}

#btn-container {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  height: 52px;
  width: 288px;
  margin-top: 16px;
}

#cancel-btn {
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
  width: 62px;
  height: 52px;
  background: #F7F8F9;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #666F7B;
  line-height: 52px;
}

#cancel-btn:hover {
  cursor: pointer;
}

#store-btn {
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
  background: #C7BFF3;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  width: 91px;
  height: 52px;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 52px;
  margin-left: 8px;
}

#store-btn:hover {
  cursor: pointer;
}

#dropdown {
  position: relative;
  display: inline-block;
}

#dropdown-contents {
  display: none;
  position: absolute;
  width: 288px;
  padding: 8px;
  z-index: 1000;
  box-shadow: 0px 10px 20px rgba(58, 69, 82, 0.1);
  border-radius: 10px;
  background: #FFFFFF;
  box-sizing: border-box;
}

.dropdown-content {
  width: 272px;
  height: 52px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.dropdown-content:hover {
  cursor: pointer;
  background: #F7F8F9;
  border-radius: 10px;
}

.circle {
  width: 16px;
  height: 16px;
  background: #F767AC;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.dropdown-text-container {
  display: flex;
  align-items: center;
}

.dropdown-text {
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #3A4552;
}

