#hover-container {
  /* width: 250px; */
  /* height: 400px; */
  background-color: white;
  position: fixed;
  right: 0; 
  top: 0;
  z-index: 9999;
}

#selected-text-save-box {
  width: 320px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(58, 69, 82, 0.2);
  border-radius: 10px;
  padding: 16px;
}

#title {
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #3A4552;
  margin-bottom: 16px;
}

#folders {
  padding: 13px;
  width: 288px;
  height: 52px;
  border: 1px solid #E9EBEE;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.placeholder {
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #C5C8CD;
}

#memo-container {
  position: relative;
}

#memo {
  width: 288px;
  height: 80px;
  border: 1px solid #E9EBEE;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 16px 16px 32px;
  overflow: hidden;
  resize: none;
}

#memo::placeholder {
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #C5C8CD;
}

#memo-length {
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #666F7B;
  position: absolute;
  right: 10px;
  bottom: 15px;
}